exportPattern("^[[:alpha:]]+")

import(methods)

export(
       RMDX,
       info,
       mdxquery,
       olapsources,
       olapcatalogs,
       olapcubes,
       cubeexplore,
       cubedimensions,
       cubelevels,
       cubemeasures
)

exportClasses(
              RMDXConnector
)

S3method(info, "RMDXConnector")
S3method(print, "RMDXConnector")
S3method(str, "RMDXConnector")

